body {
  font-family: Helvetica, sans-serif;
  margin:0px;
  padding:0px;
}

header {
  display: flex; 
  position:fixed;
  z-index:4;
  top:0px;
  left:0px;
  width: 100%;
  height: 273px;
  max-height:25%;
  justify-content: center;
}

#header-background {
  /* As an image, starts off as display:inline by default. */
  display:block;
  /* To allow the image to override the justify-content:center setting, which is intended for the logo only: */
  position:absolute; 
  left:0px; 
  /* Width and height should take up the whole area allowed by the parent element */
  width:100%; 
  height:100%;
}

#header-logo {
  /* The display is inline by default. This must be changed, lest the logo will be set to the right of the intended background */
  display:block;
  position:absolute;
  height:100%;
}
main {
  position:absolute;
  z-index: 0;
  /* The vertical starting position must match the <header> settings */
  top: min(273px, 25%);
  width:100%;
  display:flex;
  justify-content: center;
}

.middle-column {
  width: 100%;
  max-width: 560px;
}

#background-img {
  /* Default display value is inline */
  display:block;
  position:absolute;
  top:0px; 
  z-index:0;
  width:100%;
}

article {
  position:relative;
  z-index:3;
  /* Width values are set to match the background image by default, while becoming narrower if the page becomes too narrow, in order to allow all of the text to always show and be legible */
  display:flex;
  /* To make it so that elements in this flexbox are laid out vertically, rather than horizontally: */
  flex-direction:column;
  justify-content: center;
}


#personal-photo {
  position: relative;
  display: block;
  width:200px;
  max-width:50%;
  padding-top:10px;
  /* To center the image horizontally within its parent element*/
  margin:auto;
}

#texto {
  display:block;
  position:relative;
  text-align:justify;
  padding-left:40px;
  padding-right:40px;

}




