body {
  background-color: white;
  /* Cores sugeridas para paleta: rgb(114, 132, 168), rgb(235, 210, 190) */

  font-family: Helvetica, sans-serif;
}

#logo {
  position:fixed;
  z-index: 2;
  width:80%;
  max-width: 800px;
}

#fundo {
  position:fixed;
  z-index:0;
  width:100%;
}

#right-container {
  position:relative;
  left: calc(min(50%, 500px)); /* Whichever is smallest: 50% of the page or 500px*/
  width: min(50%, 500px); 
  padding-top: calc(min(21%, calc(0.6*377.877px))); 
  margin-right:100px;
}

#photo-container {
  position:relative;
}
#personal-photo {
  position:relative;
  z-index: 3;
  width:100%; /* This specification is necessary, or the image will grow beyond the containing element */
}

#caixa-de-texto {
  z-index: 1;
  text-align:justify;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 3px;