body {
  font-family: Helvetica, sans-serif;
  font-weight:lighter;
  margin:0px;
  padding:0px;
}

header {
  display: flex; 
  position:fixed;
  z-index:4;
  top:0px;
  left:0px;
  width: 100%;
  height: 273px;
  max-height:25%;
  justify-content: center;
}

#header-background {
  /* As an image, starts off as display:inline by default. */
  display:block;
  /* To allow the image to override the justify-content:center setting, which is intended for the logo only: */
  position:absolute; 
  left:0px; 
  /* Width and height should take up the whole area allowed by the parent element */
  width:100%; 
  height:100%;
}

#header-logo {
  /* The display is inline by default. This must be changed, lest the logo will be set to the right of the intended background */
  display:block;
  position:absolute;
  height:100%;
}
main {
  position:absolute;
  z-index: 0;
  /* The vertical starting position must match the <header> settings */
  top: min(273px, 25%);
  width:100%;
  display:flex;
  justify-content: center;
}

#background-img {
  /* Default display value is inline */
  display:block;
  position:absolute;
  top:0px; 
  z-index:0;
  width:100%;
  max-width:450px;
}

article {
  position:relative;
  z-index:3;
  width: 100%;
  max-width: 300px;
  display:flex;
  /* To make it so that elements in this flexbox are laid out vertically, rather than horizontally: */
  flex-direction:column;
  justify-content: center;
}


#personal-photo {
  position: relative;
  display: block;
  width:200px;
  max-width:60%;
  padding-top:8px;
  padding-bottom:8px;
  /* To center the image horizontally within its parent element*/
  margin:auto;
}

.textbox {
  background-color: rgba(235, 210, 190, 0.6);
  padding:15px;
  border-style: solid;
  border-style:black;
  border-width:1px;
}
p {
  display:block;
  position:relative;
  text-align:justify;
  margin-top:0px;
  margin-bottom:10px;
}

#last-paragraph {
  margin-bottom:0px;
}

#profile-link {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:13px;
  font-weight: bolder;
  text-decoration: none;
}

a:visited {
  color: black;
}
#linkedin-icon {
  position:relative;
  display:block;
  width:20%;
  padding:15px;
}

#see-his-work {
  margin: auto;
  font-weight: bold;
}

#works-column {
  display:flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
}

.work {
  display:flex;
  flex-direction: row;
  justify-content: right;
}

.work-description {
  display: flex;
  text-align: right;
  flex-direction: column;
  font-size:inherit;
}

.work-title {
  font-size:inherit;
  padding: 0px;
  margin: 0px;
}


.work-paragraph {
  padding-top:5px;
  font-size:smaller;
  font-weight:lighter;
  font-stretch: condensed;
}



#miniatura-formulario {
  height:70px;
  width:70px;
  margin-left:10px;
}



