body {
  display: flex;
  font-family: 'EB Garamond';
  font-size:18px;
  font-weight: lighter;
  background-color: black;
  margin:0px;
  padding:0px;
  justify-content: center;
}

#column {
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  top:0px;
  height:100%;
  width:700px;
  background-color: rgba(110, 45, 45, 0.904);
}

#container {
  position:relative;
  display:inline-block;
  margin:auto;
  width:60%;
  border-style:solid;
  border-color:black;
  background-color:rgb(235, 210, 190);
  padding:20px;
}

h1 {
  margin:0px;
  margin-top:15px;
  padding:10px;
  padding-bottom:0px;
  text-align:center;
  font-family: 'Tangerine', cursive;
  color: rgb(255, 242, 231);
  font-size:200px;
  font-weight:lighter;
}

form {
  text-align:center;
}


#instrucao {
  padding:0px;
  margin:0px;
}


.alinhar-a-direita {
  text-align: right;
  margin-right:70px;
}
#padding {
  width:100%;
  height:6px;
}

#button-space {
  display:flex;
  justify-content: center;
}

footer {
  position:static;
  padding-bottom:5px;
  margin-top:40px;
  height:30px;
  width:100%;
  display:flex;
  align-items: center;
  color:rgba(255,255,255,0.5);
  font-family: 'Questrial', sans-serif;
  font-stretch: condensed;
  font-size: smaller;
}

#footer-text {
  margin: auto;
}