body {
  font-family: 'EB Garamond';
  font-size:18px;
  font-weight: lighter;
  background-color: rgba(110, 45, 45, 0.904);
  margin:0px;
  padding:0px;
  text-align: center;
}

h1 {
  margin:0px;
  margin-top:15px;
  padding:10px;
  padding-bottom:0px;
  text-align:center;
  font-family: 'Tangerine', cursive;
  color: rgb(255, 242, 231);
  font-size:200px;
  font-weight:lighter;
}

form {
  text-align:center;
}
#container {
  display:inline-block;
  border-style:solid;
  border-color:black;
  background-color:rgb(235, 210, 190);
  padding:20px;
}

#instrucao {
  padding:0px;
  margin:0px;
}


.alinhar-a-direita {
  text-align: right;
  margin-right:70px;
}
#padding {
  width:100%;
  height:6px;
}

#button-space {
  display:flex;
  justify-content: center;
}

footer {
  position:fixed;
  bottom:0px;
  margin-top:40px;
  height:30px;
  width:100%;
  display:flex;
  justify-content: center;
  color:rgba(255,255,255,0.5);
  font-family: 'Questrial', sans-serif;
  font-stretch: condensed;
  font-size: smaller;
}

